@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "dashboard";
@import "navbar";

@import "~font-awesome/scss/font-awesome";

@font-face {
   font-family: "Ubuntu";
   src: url("../fonts/Ubuntu-R.ttf");
   //font-weight: bold;
}

body{
   font-family: "Ubuntu", sans-serif;
  // @apply font-sans;
}

a{
   @apply border-b border-dotted border-secondary-500;
    //border-bottom: 1px black dotted;
}