{% extends "base.jinja"%}

{% block title %}Blog {% endblock %}

{% block body %}
    <div class="flex flex-col w-full content-center items-center py-4">
        <div>Blog </div>
    </div>

{% endblock %}
