{% extends "base.jinja"%}

{% block body %}
    <div id="modalContainer" class="bg-gray-100 fixed w-full flex flex-col justify-start items-center h-full pt-10 hidden">
        <form id="caForm"  class="shadow-lg bg-white w-full md:w-1/4 flex flex-col p-3 rounded hidden modal_close">
            {{ caform.hidden_tag() }}

            <div class="mb-4">
              <label class="block text-md mb-2" for="name">
                Application name
              </label>
              {{ caform.name(class="form-input") }}
                {% for error in caform.name.errors %}
                    <p class="form-error "> {{ error }}</p>
                {% endfor %}

                <p id="nameExistError" class="form-error hidden"> The name already exists</p>
            </div>

            <div class="mb-4">
              <label class="block text-md mb-2" for="description">
                Description
              </label>
              {{ caform.description(class="form-input") }}
                {% for error in caform.description.errors %}
                    <p class="form-error "> {{ error }}</p>
                {% endfor %}
            </div>

            <div class="flex flex-col md:flex-row items-center content-between justify-center w-full">
                <button class="btn-red-out text-red-600 btn w-full" type="reset" id="caFormCloseBtn">
                    Close
                </button>

                <button id="caFormSubmitBtn" class="btn-teal btn w-full" type="submit">
                Create
              </button>
            </div>
        </form>

        <div id="message" class="hidden message shadow-lg bg-white w-full md:w-1/4 flex flex-col p-3 rounded hidden">
            <div class="flex w-full message-content p-4"></div>
            <button class="btn-gray btn w-full mt-2 close" >
                Close
          </button>
        </div>

    </div>

{#    content of the page#}

    <div class="flex flex-col items-start content-center">
        <div class="flex-col flex w-full md:w-1/3 py-10">
            <div class="flex flex-row w-full w-full bg-secondary text-white p-2 font-bold">
                <div class="flex w-2/3 p-1">My Apps</div>
                <a id="addApp" href="#" class="w-1/3 btn text-center bg-white text-primary p-1">Add app</a>

            </div>

            <ul class="flex flex-col px-1">
                {% for app in user.applications %}
                    <li class="w-full flex flex-row mt-0 p-1 hover:bg-gray-300">
                        <span class="appname w-4/6 break-words">{{ app.name }}</span>

                        {% if app.enabled %}
                            <a id="startApp" class="w-2/6 bg-gray-500 text-center rounded text-white p-1" href="{{ url_for('app_action', action='start' ,name=app.name) }}">Start</a>
                            <a id="reloadApp" class="w-2/6 bg-gray-500 text-center rounded text-white p-1" href="{{ url_for('app_action', action='restart' ,name=app.name) }}">Reload</a>
                            <a id="stopApp" class="w-2/6 bg-gray-500 text-center rounded text-white p-1" href="{{ url_for('app_action', action='stop' ,name=app.name) }}">Stop</a>
                        {% else %}
                            <span>Not enabled</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    {{ webpack['public/js/dashboard.js'] }}

{% endblock %}

{% block css %}
    {{ super() }}
{#    {{ webpack['public/css/dashboard.css'] }}#}

{% endblock %}