{% extends "base_container.jinja"%}

{% block title %}Dashboard{% endblock %}

{% block cbody %}

    <div class="flex flex-col md:mt-5 md:flex-row w-full my-2 justify-between rounded">
        <div class="overview-card pr-2">
            <span class="overview-card-body overview-card-secondary">{{ user.applications | count }} Applications</span>
        </div>
        <div class="overview-card">
            <span class="overview-card-body overview-card-secondary ">0 Tickets</span>
        </div>
        <div class="overview-card pl-2">
            <span class="overview-card-body overview-card-secondary ">0 Invoices</span>
        </div>
    </div>


    <div class="flex flex-col md:flex-row items-center md:items-start justify-between content-center md:mt-5">

    <div class="flex-col flex w-full md:w-1/4">
        <div class="flex-col flex w-full md:w-full mb-5 shadow-md">

            <div class="flex flex-row w-full w-full rounded-t p-3 bg-secondary-500 text-white text-xl">
                Applications
            </div>

            <div class="flex flex-col w-full border border-t-0 border-grey-300 rounded-b">
{#                <ul class="w-full px-1">#}
                {% for application in user.applications %}
                    <div class=" application_list_element w-full flex flex-row mt-0 p-3 bg-grey-100 border-b border-grey-300 last:border-0 hover:bg-grey-300 {{ "active" if request.args.appname == application.name }}">

                        <a href="{{ url_for('dashboard', appname=application.name) }}" class="appname w-4/6 break-words ">{{ application.name | capitalize }}</a>

                    </div>
                {% else %}
                    <div class="p-2">
                        There is no application, <a class="underline" href="{{ url_for("app_add") }}">add one</a>
                    </div>
                {% endfor %}
{#                </ul>#}
            </div>

        </div>

        {% block sideinfo %}
        {% endblock %}

    </div>


        <div class="flex flex-col w-full md:w-2/3 pb-10">

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <div class="flashes flex flex-col w-full pt-5 justify-center items-center">
                {% for category, message in messages %}
                    <div class="alert {{ category }}" role="alert">
                        <div class="flex">
                            <div class="alert-icon"><i class="fa fa-2x fa-info-circle"></i></div>
                            <div class="alert-body">
                                <p class="alert-body-title">{{ category | capitalize }}</p>
                                <p class="alert-body-text ">{{ message |capitalize }}</p>
                            </div>
                        </div>
                    </div>
        {#          <li class="{{ category }}">{{ message }}</li>#}
                {% endfor %}
                </div>
              {% endif %}

            {% endwith %}

            {% block dashboard_content %}

                {% if user.applications | count == 0 %}
                    <div class="alert info" role="alert">
                        <div class="flex">
                            <div class="alert-icon"><i class="fa fa-2x fa-info-circle"></i></div>
                            <div class="alert-body">
                                <p class="alert-body-title">Information</p>
                                <p class="alert-body-text ">Add an application to get started</p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="flex w-full border-b border-secondary-500 p-3 text-2xl text-secondary-500">Welcome Back {{ user.username | capitalize }}</div>

                <div class="flex w-full py-3">
                    <a id="addApp" href="{{ url_for("app_add") }}" class="app-action w-full">Add app</a>
                </div>

                <div class="section section-chart">
                    <div class="section-header">Charts</div>
                    <div class="section-body" >
                        <div class="w-full text-center font-mono text-secondary-500">
                            No chart.
                        </div>
                    </div>
                </div>

                <div class="section section-notification">
                    <div class="section-header">Notifications</div>
                    <div class="section-body" >
                        <div class="w-full text-center font-mono text-secondary-500">
                            No notification.
                        </div>
                    </div>
            </div>
            {% endblock %}
        </div>

    </div>

{% endblock %}

{% block js %}
    {{ super() }}
    {{ webpack['public/js/dashboard.js'] }}

{% endblock %}

{% block css %}
    {{ super() }}
{#    {{ webpack['public/css/dashboard.css'] }}#}

{% endblock %}
