{% extends "base.jinja"%}

{% block title %} Documentation {% endblock %}

{% block body %}
    <div class="flex flex-col w-full content-center items-center py-4">
        <div>Docs </div>
    </div>

{% endblock %}
