{% extends "base_container.jinja" %}

{% block title %} Error {% endblock %}

{% block cbody %}
    <div class="mt-12 flex flex-col justify-center items-center text-secondary-500">
{#        <i class="fa fa-3x fa-fire text-red-600"></i>#}
        <div class="text-6xl"><i class="fa "></i>{{ error.code }}</div>
        <div class="text-3xl">Not found</div>
        <div class="w-1/2 mt-4 text-center text-xl">
             {{ error.description }}
        </div>
    </div>
{% endblock %}